/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    border-radius: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
    background-color: #3e8e41;
}

body {
    background-color: #acb78e;
    color: aliceblue;
}

header {
    background-color: #5e6943;
}

.AppName {
    color: aliceblue;

    padding-left: 4em;
    font-size: 40px;
    font-family: "Voguer Sans Free"
}

.AppName:hover {
    color: white;
    font-family: "Voguer Sans Free";
}

button {
    height: 60px;
    font-weight: 700;
    color: #7b917b;
    text-decoration: none;
    padding: .5em 2em;
    border-radius: 8px;
    background: rgb(123, 145, 123);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

a.btn-login {
    height: 60px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 1.1em;
    border-radius: 8px;
    background: #4CAF50;
    transition: 0.2s;
}

a.btn-reg {
    height: 60px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 1.1em;
    border-radius: 8px;
    background: #4CAF50;
    transition: 0.2s;
}

a.btn-login:hover {
    color: white;
    background-color: #3e8e41;
}

a.btn-reg:hover {
    color: white;
    background-color: #3e8e41;
}

.btn-primary, .btn-danger {
    height: 50px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background: #4CAF50;
    transition: 0.2s;
    border-color: transparent;
}

.btn-primary:hover, .btn-danger:hover {
    background-color: #3e8e41;
    border-color: transparent;
}

.btn-danger{
    background-color: red;
}

.btn-danger:hover{
    background-color: darkred;
}

.btn-success {
    border-radius: 6px;
}

p.about_info{
    background-color: #87a96b;
    color: white;
    width: 500px;
    min-width: 350px;
    padding: 10px;
    -webkit-box-sizing: border-box;
}

h1 {
    color: white;
}

.card{
    background-color: #c4ccaf;
    text-decoration: none;
}

.card-text{
    color: black
}

.card-title{
    color: black;
    text-decoration: none;
}

.card:hover{
    background-color: #4CAF50;
}

.card-group{
    background-color: #5e6943;
}

a.card:hover{
    background-color: #4CAF50;
    text-decoration: #dddddd;
}

.user_pic {
    Width: 256px;
    Height: 256px;
    border-radius: 6px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    khtml-border-radius: 6px;
}

.add_friend_pic {
    Width: 250px;
    Height: 250px;
    border-radius: 6px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    khtml-border-radius: 6px;
    padding-left: 3px;
    padding-top: 3px;
}

.mini_user_pic {
Width: 40px;
Height: 40px;
border-radius: 50%;
}

a.navbar-brand:hover {
    text-decoration-line: underline;
}
