/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    z-index: 1;
    border-radius: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    border-radius: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
    background-color: #3e8e41;
}

.scrollspy-example {
    position: relative;
    background-color: #c4ccaf;
    margin-right: 250px;
    margin-left: 250px;
    padding: 20px;
    border-radius: 6px;
    overflow-y: scroll;
    height: 600px;
}


body {
    background-color: #acb78e;
    color: aliceblue;
}

header {
    background-color: #5e6943;
}

.AppName {
    color: aliceblue;

    padding-left: 4em;
    font-size: 40px;
    font-family: "Voguer Sans Free"
}

.AppName:hover {
    color: white;
    font-family: "Voguer Sans Free";
}

button {
    height: 60px;
    font-weight: 700;
    color: #7b917b;
    text-decoration: none;
    padding: .5em 2em;
    border-radius: 8px;
    background: rgb(123, 145, 123);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

button.user{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-right: 20px;
}

span.user-buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.user-profile{
    display: flex;
    justify-content: flex-start;
}

a.btn-login {
    height: 60px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 1.1em;
    border-radius: 8px;
    background: #4CAF50;
    transition: 0.2s;
}

h4.anya-molodec {
    margin-left: 250px;
}

h4.news-user{
    padding: 10px;
}

.my-message {
    display: flex;
    justify-content: flex-end;
    background-color: #87a96b;
    color: white;
    padding: 6px;
    margin-left: 300px;
    margin-right: 10px;
    border-radius: 6px;
}

.not-my-message {
    display: flex;
    justify-content: flex-start;
    background-color: cornflowerblue;
    color: white;
    padding: 6px;
    margin-right: 300px;
    margin-left: 10px;
    border-radius: 6px;
}

.news {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    border-radius: 6px;
}

.news-bottom-part{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.news-text{
    padding-left: 10px;
}

.news-username{
    color: white;
}

.news-username:hover{
    color: white;
}

.dislikes-number {
    padding-top: 8px;
    padding-left: 10px;
    color: #510000;
    font: bold 2em Arial;
}

span.number_choose{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    margin-left: 37px;
}

a.nokia {
    display: flex;
    background-color: #606d78;
    margin-top: 8px;
    margin: -2px 7px -33px;
    font-size: 30px;
    min-width: 90px;
    max-height: 45px;
    justify-content: center;
    align-items: center;
}

a.nokia:hover {
    background-color: transparent;
    color: transparent;
}

h5.FIO{
    color: #87a96b;
    display: flex;
    justify-content: center;
    font-size: 33px;
}

form.message {
    margin-left: 250px;
    margin-right: 250px;
    background: #c4ccaf;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0.5px;
    padding-top: 10px;
    border-radius: 6px;
}

form.news_text {
    background: #c4ccaf;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0.5px;
    padding-top: 10px;
    border-radius: 6px;

}

p.input-message{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0;
}

input.send-message{
    margin-left: 10px;
    margin-top: 6px;
}

textarea.message-box{
    min-height: 60px;
}

a.btn-reg {
    height: 60px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 1.1em;
    border-radius: 8px;
    background: #4CAF50;
    transition: 0.2s;
}

a.btn-login:hover {
    color: white;
    background-color: #3e8e41;
}

a.btn-reg:hover {
    color: white;
    background-color: #3e8e41;
}

.btn-primary, .btn-danger {
    height: 50px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background: #4CAF50;
    transition: 0.2s;
    padding: 10px;
    border-color: transparent;
}

.btn-primary:hover, .btn-danger:hover {
    background-color: #3e8e41;
    border-color: transparent;
}

.btn-danger {
    background-color: maroon;
}

.btn-danger:hover {
    background-color: #510000;
}

.btn-success {
    border-radius: 6px;
}

a.dislike {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    /*margin-left: -100px;*/
}

p.about_info {
    background-color: #87a96b;
    color: white;
    width: 500px;
    min-width: 350px;
    padding: 10px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
}

h1 {
    color: white;
}

.card {
    background-color: #c4ccaf;
    text-decoration: none;
}

.card-text {
    color: black
}

.card-title {
    color: black;
    text-decoration: none;
}

.card:hover {
    background-color: #4CAF50;
}

.card-group {
    background-color: #5e6943;
}

a.card:hover {
    background-color: #4CAF50;
    text-decoration: #dddddd;
}

.user_pic {
    Width: 256px;
    Height: 256px;
    border-radius: 20%;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    khtml-border-radius: 6px;
}

.add_friend_pic {
    Width: 250px;
    Height: 250px;
    border-radius: 6px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    khtml-border-radius: 6px;
    padding-left: 3px;
    padding-top: 3px;
}

.mini_user_pic {
    Width: 40px;
    Height: 40px;
    border-radius: 50%;
}

a.navbar-brand:hover {
    text-decoration-line: underline;
}

img.choose_ava {
    padding: 10px;
}




/* мой грязный код*/
#foobar {
    display: none
}