<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../static/img/icon_frog.png" type="image/png">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/decor.css') }}">

    {% block settings %}{% endblock %}
    <title>VBolote</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light" style="background-color: #5e6943;">
        <div class="dropdown">
          <button class="dropbtn">Болото</button>
            {% if current_user.is_authenticated %}
                <div class="dropdown-content" style="width: 160px">
                    <a href="/user/{{current_user.id}}">Моё болото</a>
                    <a href="/all_users">Все в болоте</a>
                    <a href="/friends/{{ current_user.id }}">Мои джабья</a>
                    <a href="/news">Жабьи вести</a>
                    <a href="/frog_lottery">Жаба фортуны</a>
                </div>
            {% endif %}
        </div>
        <a type="button" class="AppName" href="/"><img src="../static/img/icon_frog.png" height="50" alt="...">VBolote</a>
        {#<h1 class="AppName" href="/" ><img src="../static/img/icon_frog.png" height="50" alt="...">VBolote</h1>#}

            {% if current_user.is_authenticated %}

                <div class="dropdown">
                  <button class="dropbtn user">
                      <img src="../static/img/pics/pic{{current_user.pic}}.jpg" class = "mini_user_pic" alt="аватарка"/>
                      {{ current_user.name }}
                  </button>
                    <div class="dropdown-content">
                        <a href="/logout">Выход</a>
                        <a href="/edit_user">Настройки</a>
                        <a href="/choose_ava">Аватарка</a>
                    </div>
                </div>

            {% else %}

                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <a type="button" class="btn btn-login" href="/login">Войти</a>
                  <a type="button" class="btn btn-reg" href="/register">Зарегистрироваться</a>
                </div>

            {% endif %}

    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>