{% extends "base.html" %}

{% block content %}

{{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
<p>
        {{ form.pic.label }}<br>
        {{ form.pic(type="file") }}<br>
        {% for error in form.pic.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.au_attitude.label }}<br>
        {{ form.au_attitude(class="form-control") }}<br>
        {% for error in form.au_attitude.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.frog_attitude.label }}<br>
        {{ form.frog_attitude(class="form-control") }}<br>
        {% for error in form.frog_attitude.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    {{message}}

{% endblock %}