{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="card">
{#                <img src="../static/img/pics/pic3.jpg" class="add_friend_pic" alt="...">#}
                <div class="card-body" style="height: 850px; width: 380px; background-image: url(../static/img/nokia.png)">
                    <br><h5 class="card-title" style="color: lightgray">   .</h5><br><br><br><h5 class="card-title FIO"> Жаба </h5><br>
                    <h5 class="card-title FIO"> Петровна </h5>
                    <br><h5 class="card-title FIO"> Андреева </h5>
                    <br><br><br><br><br><br><br><br><br><br>
                    <span class="number_choose"><a class="btn-primary nokia">  1 </a>
                        <a class="btn-primary nokia">  2 </a>
                        <a class="btn-primary nokia">  3 </a></span><br><br>
                    <span class="number_choose"><a class="btn-primary nokia">  4 </a>
                        <a class="btn-primary nokia"> 5 </a>
                        <a class="btn-primary nokia"> 6 </a></span><br><br>
                    <span class="number_choose"><a class="btn-primary nokia">  7 </a>
                        <a class="btn-primary nokia"> 8 </a>
                        <a class="btn-primary nokia"> 9 </a></span><br><br>
                    <span class="number_choose"><a class="btn-primary nokia">  0 </a></span>
                </div>
            </div>
    </div><br><br>
{% endblock %}