

{% block content %}
<script src="../static/js/loh.js"></script>{% extends "base.html" %}

<br>

<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
     class="scrollspy-example" tabindex="0">
  <h4 class="list-item-1">USER</h4>
  <div class="message-block">
      <p class="my-message">ээээээээээээ</p>
      <p class="not-my-message">эээээ</p>
      <p class="not-my-message">эммм ну как вам сказать</p>
      <p class="not-my-message">аллах акбар</p>
      <p class="my-message">ты долбоеб?</p>
      <p class="my-message">ээээээээээээ</p>
      <p class="not-my-message">эээээ</p>
      <p class="not-my-message">эммм ну как вам сказать</p>
      <p class="not-my-message">аллах акбар</p>
      <p class="my-message">ты долбоеб?</p>
      <p class="my-message">ээээээээээээ</p>
      <p class="not-my-message">эээээ</p>
      <p class="not-my-message">эммм ну как вам сказать</p>
      <p class="not-my-message">аллах акбар</p>
      <p class="my-message">ты долбоеб?</p>
  </div><br>
</div>
    <div>
    <form class="message" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.message.label }}<br>
        {{ form.message(class="form-control message-box") }}<br>
        {{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form></div>
{% endblock %}
