{% extends "base.html" %}

{% block settings %}
    <script src="../static/js/loh.js"></script>
{% endblock %}

{% block content %}
<br>
  <h4 class="anya-molodec">
      <img src="../static/img/pics/pic{{user.pic}}.jpg" class = "mini_user_pic" alt="аватарка"/>
      {{user.name}}
  </h4>
    <div>
    <form class="message" action="" method="post">
        {{ form.hidden_tag() }}
        <p class="input-message">
            {{ form.message(class="form-control message-box") }} {{ form.submit(type="submit", class="btn btn-primary send-message") }}
        </p>
    </form>
    </div>
<br>

<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
     class="scrollspy-example" tabindex="0">
  <div class="message-block">
      <p class="my-message">ээээээээээээ</p>
      <p class="not-my-message">эээээ</p>
      <p class="not-my-message">эммм ну как вам сказать</p>
      <p class="not-my-message">аллах акбар</p>
      <p class="my-message">ты долбоеб?</p>
      <p class="my-message">ээээээээээээ</p>
      <p class="not-my-message">эээээ</p>
      <p class="not-my-message">эммм ну как вам сказать</p>
      <p class="not-my-message">аллах акбар</p>
      <p class="my-message">ты долбоеб?</p>
      <p class="my-message">ээээээээээээ</p>
      <p class="not-my-message">эээээ</p>
      <p class="not-my-message">эммм ну как вам сказать</p>
      <p class="not-my-message">аллах акбар</p>
      <p class="my-message">ты долбоеб?</p>
  </div>
</div>
{% endblock %}
