{% extends "base.html" %}

{% block content %}

<br>

<p class="user-profile">
    <img src="../static/img/pics/pic{{user.pic}}.jpg" class="user_pic" alt="аватарка"/>
    {% if current_user.id == user.id %}
        <span class="user-buttons">
        <a href="/choose_ava", class="btn btn-primary">Аватарка</a>
        <a href="/edit_user", class="btn btn-primary">Редактировать</a>
<!--        <a href="/add_news", class="btn btn-primary">Жабья весть</a>-->
        <a href="/suicide", class="btn btn-danger">Suicide</a>
        </span>
    {% else %}
        <span class="user-buttons">
            {% if not is_friends %}
                <a class="btn btn-primary" href="/add_friend/{{user.id}}">Дружить с жабой</a>
            {% else %}
                <a class="btn btn-primary" href="/messages/{{user.id}}">Жабий говор</a>
                <a class="btn btn-danger" href="/del_friend/{{user.id}}">sayonara</a>
            {% endif %}
        </span>
    {% endif %}
</p>


<h1>{{user.name}}</h1><br>

{% if user.about %}
<p class="about_info">{{user.about}}</p>
{% endif %}

{% if user == current_user %}
<br>
    <div>
        <form class="news_text" action="" method="post">
            <h6>Жабья весть</h6>
            {{ form.hidden_tag() }}
            <p class="input-message">
                {{ form.text(class="form-control message-box") }} {{ form.submit(type="submit", class="btn btn-primary send-message") }}
            </p>
        </form>
    </div>
{% endif %}

<br>

{% for new in news %}
    <div class="not-my-message">
        <h4 style="margin-right: 100px">
            <img src="../static/img/pics/pic{{user.pic}}.jpg" class = "mini_user_pic" alt="аватарка"/>
            <a href="/user/{{user.id}}" style="color: white">{{user.name}}</a>
        </h4>
        {{new.text}}
        <span style="margin-left: 50px">
        {% if new.u_id == current_user.id %}
            <a class="btn btn-danger" href="/del_new/{{new.id}}">Разжабить</a>
        {% else %}
            <a class="btn btn-danger" href="/dislike/{{new.id}}/{{0 if user.id == current_user.id else user.id}}">Нежабно</a>
        {% endif %}

        <span style="color: red">{{new.dislikes}}</span>
        </span>
    </div>
    <br>
{% endfor %}

{% endblock %}