{% extends "base.html" %}

{% block content %}

<br>

<p><img src="../static/img/pics/pic{{user.pic}}.jpg" class="user_pic" alt="аватарка"/>
    {% if current_user.id == user.id %}
        <a href="/choose_ava", class="btn btn-primary">Аватарка</a>
        <a href="/edit_user", class="btn btn-primary">Редактировать</a>
    {% endif %}
</p>


<h1>{{user.name}}</h1><br>

{% if user.about %}
<p class="about_info">{{user.about}}</p>
{% endif %}

{% if current_user.id != user.id %}
    {% if not is_friends %}
        <a class="btn btn-primary" href="/add_friend/{{user.id}}">Дружить с жабой</a>
    {% else %}
        <a class="btn btn-danger" href="/del_friend/{{user.id}}">sayonara</a>
    {% endif %}
{% endif %}

{% endblock %}